@mixin boxshadow2 {
    animation-name: boxshadow2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



@mixin colorwelcometextanim {
    animation-name: colorWelcomeTextanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
