$black: rgb(0,0,0);
$orange: rgb(255,166,0);
$orange_red: rgb(219,63,6);
$header_color: rgba(151, 204, 204, 0.603);

$div1_color: rgba(41,195,241, 0.349);
$div2_color: rgba(126, 252, 0, 0.137);

$cat_textcolor: rgb(114, 68, 68);

$main_font: 'Allerta Stencil', sans-serif;

$box_shadow1color: rgba(88,9,53, 0.5);
$box_shadow2color: rgba(34,17,143,0.7);